body {
  margin: 0;
  overflow: hidden;
}

img {
  width: 100%;
}

#screen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  width: 100%;
  aspect-ratio: 16/9;
}
#game {
  grid-area: 1 / 1;
  background-color: azure;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100% 100%;
  grid-template-rows: 100%;
}

#game_background {
  grid-area: 1 / 1;
  background-image: url(pictures/bar2.jpg);
  background-size: cover;
}
#game_background2 {
  grid-area: 1 / 1;
  background-image: url(pictures/barr-removebg-preview.png);
  background-size: cover;
  position: relative;
  max-width: 100%;
  top: 30vw;
  right: 4%;
  overflow: hidden;
  pointer-events: none;
  z-index: 3;
}

/*Game Elements */
#game_elements {
  grid-area: 1 / 1;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

#pill1_container {
  position: absolute;
  width: 8%;
  top: 20%;
}

#pill2_container {
  position: absolute;
  width: 8%;
  top: 20%;
}

#pill3_container {
  position: absolute;
  width: 7%;
  top: 45%;
}

#poison1_container {
  width: 12.5%;
  position: absolute;
  left: 15%;
}

#poison2_container {
  width: 9%;
  position: absolute;
  left: 15%;
}

#cuff_container {
  width: 10%;
  position: absolute;
  top: 10%;
  left: 15%;
}
#heart_container {
  position: absolute;
  width: 12%;
  top: 5%;
}

#cosby_container {
  position: absolute;
  width: 12.5%;
  top: 34.5%;
  right: 15%;
  opacity: 1;
  z-index: -1;
}

/*Positions */
.position1 {
  left: 33%;
}
.position2 {
  left: 65%;
}
.position3 {
  left: 22%;
}
.position4 {
  right: 5%;
}
.position5 {
  left: 10%;
}
.position6 {
  top: 20%;
}
.position7 {
  top: 40%;
}

/*Game foreground + størrelse på det */
#game_foreground {
  grid-area: 1 / 1;
  background-image: url(pictures/drink.png);
  background-size: cover;
  position: relative;
  max-width: 100%;
  top: 17.5vw;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
}
#game_foreground2 {
  grid-area: 1 / 1;
  background-image: url(pictures/drinkfrgrnd-removebg-preview.png);
  background-size: cover;
  position: relative;
  max-width: 100%;
  top: 53%;
  left: 1.5%;
  overflow: hidden;
  pointer-events: none;
  z-index: 3;
}

/* Game UI og elementer indenfor */
#game_ui {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}
#score_board {
  position: absolute;
  width: 10%;
  right: 97%;
}
#pill_count {
  font-size: 45px;
  white-space: nowrap;
  text-align: right;
  color: white;
}
#pill_image {
  width: 5em;
}
#healthbar_container {
  position: absolute;
  display: grid;
  grid-template-columns: 5.5em 5.5em 5.5em;
  width: 100%;
  right: 15%;
  top: 7.5%;
}

/* Timer */

#time_container {
  position: absolute;
  width: 100%;
  aspect-ratio: 16/9;
  top: 1.5%;
  right: 99.5%;
}

#time_sprite {
  width: 15.5%;
  height: 5.75%;
  background-color: limegreen;
  transform-origin: left;
}

#start {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: url(pictures/COSBY.jpg);
  background-size: cover;
  color: #ffc72e;
  font-size: xx-large;
  text-align: center;
}

#level_complete {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(150deg, #20c903 0%, #09793b 100%);
  color: #ffffff;
  font-size: xx-large;
  font-family: Goudy stout;
  text-align: center;
}

#game_over {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(150deg, #c90303 0%, #790909 100%);
  color: black;
  font-size: xx-large;
  font-family: Goudy stout;
  text-align: center;
}

.active_heart {
  filter: drop-shadow(0 0 2px yellow);
}

.broken_heart {
  filter: grayscale(70%) blur(1px);
}

.hidden,
#game_over.hidden,
#level_complete.hidden,
#game.hidden,
#start.hidden {
  display: none;
}

/* Animationer*/
.falling {
  animation-name: falling;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes falling {
  0% {
    transform: translate(0, -400%) rotate(0deg);
  }

  100% {
    transform: translate(0, 56.25vw) rotate(360deg);
  }
}

.horizontal {
  animation-name: horizontal;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes horizontal {
  0% {
    transform: translate(-500%, 0) rotate(0deg);
  }
  100% {
    transform: translate(900%, 0) rotate(360deg);
  }
}

.sidetoside1 {
  animation-name: sidetoside1;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes sidetoside1 {
  0% {
    transform: translate(-300%, 0) rotate(0deg);
  }
  50% {
    transform: translate(1000%, 0) rotate(360deg);
  }
  100% {
    transform: translate(-300%, 0) rotate(0deg);
  }
}

.sidetoside2 {
  animation-name: sidetoside2;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes sidetoside2 {
  0% {
    transform: translate(1200%, 0) rotate(0deg);
  }
  100% {
    transform: translate(-300%, 0) rotate(-360deg);
  }
}

.flash {
  animation-name: flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes flash {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.shrink {
  animation-name: shrink;
  animation-duration: 20s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes shrink {
  0% {
    scale: 1 1;
    background-color: lime;
  }
  50% {
    background-color: rgb(255, 230, 0);
  }
  100% {
    scale: 0 1;
    background-color: red;
  }
}

/* Animationer til click event */
.zoom_out {
  animation-name: zoom_out;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes zoom_out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.zoom_in {
  animation-name: zoom_in;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes zoom_in {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
  90% {
    transform: translate(100%, 0) scale(5) rotate(90deg);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0) scale(10) rotate(90deg);
    opacity: 0;
  }
}

.paused {
  animation-play-state: paused;
}

/* Button styling */
#btn_start {
  padding: 0.5em 1em;
  font-size: 2em;
  margin: auto;
  background-color: #ffad01;
  color: #fff4bf;
  border: 10px solid #ffc72e;
  cursor: pointer;
  border-radius: 10px;
}
#btn_return {
  padding: 0.5em 1em;
  font-size: 2em;
  margin: auto;
  background-color: #ffad01;
  color: #fff4bf;
  border: 10px solid #ffc72e;
  cursor: pointer;
  border-radius: 10px;
}
#btn_restart {
  padding: 0.5em 1em;
  font-size: 2em;
  margin: auto;
  background-color: #ff3c01;
  color: black;
  border: 10px solid black;
  cursor: pointer;
  border-radius: 10px;
}
